<mat-card class="example-card" matBadge="{{player.count}}" matBadgePosition="after" matBadgeSize="medium" matBadgeColor="primary">
  <mat-card-header class="header">
    <mat-card-title>{{player.name}}</mat-card-title>
    <mat-card-subtitle>{{player.country}}</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="player.imageUrl" alt="Image">
  <mat-card-actions>
    
    <button class="details"
    mat-icon-button    
    matToolTip="Show Details"
    (click)="showDialog()">
    <i class="material-icons">
      account_circle
      </i>
    </button>

    <button class="addButton"
    *ngIf="!favourites && !recommendation"
    mat-icon-button    
    matToolTip="Add to Favourites"
    (click)="addToFavourite()">
    <i class="material-icons">
      favorite
      </i>
    </button>

    <button class="deleteButton"
    *ngIf="favourites && !recommendation"
    mat-icon-button    
    matToolTip="Delete from Favourites"
    (click)="deleteFromFavourites(player)">
    <i class="material-icons">
      delete
      </i>
    </button>

    <!-- <button class="addbutton"
    (click)="addToWishList(track)"
    matTooltip = "See Details"  
    mat-mini-fab>
      Details
    </button> -->

    <!--<button class="deleteButton"
    *ngIf="wishData"
    (click)="deleteFromWishList(track)"
    matTooltip = "Delete from WishList"  
    mat-mini-fab>
    <i class="material-icons">delete</i>
    </button>

    <button mat-mini-fab matTooltip = "Play">
      <mat-icon>
        <a [href]="track.url">
            <i class="material-icons">play_circle_filled_white</i>
        </a>
      </mat-icon>
    </button>

    <button class="commentButton"
    *ngIf="wishData"
    (click)="addComments()"
    matTooltip = "Update Comments"  
    mat-mini-fab>
    <i class="material-icons">create</i>
    </button>-->
  </mat-card-actions> 
</mat-card>
