<mat-card class="example-card">
  <mat-card-header class="header">
    <mat-card-title>{{player.name}}</mat-card-title>
    <mat-card-subtitle>{{player.country}}</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="player.imageUrl" alt="Image">
  <mat-card-actions>

    <button mat-raised-button
    matToolTip = "See Details">Details</button>
    <!-- <button class="addbutton"
    (click)="addToWishList(track)"
    matTooltip = "See Details"  
    mat-mini-fab>
      Details
    </button> -->

    <!--<button class="deleteButton"
    *ngIf="wishData"
    (click)="deleteFromWishList(track)"
    matTooltip = "Delete from WishList"  
    mat-mini-fab>
    <i class="material-icons">delete</i>
    </button>

    <button mat-mini-fab matTooltip = "Play">
      <mat-icon>
        <a [href]="track.url">
            <i class="material-icons">play_circle_filled_white</i>
        </a>
      </mat-icon>
    </button>

    <button class="commentButton"
    *ngIf="wishData"
    (click)="addComments()"
    matTooltip = "Update Comments"  
    mat-mini-fab>
    <i class="material-icons">create</i>
    </button>-->
  </mat-card-actions> 
</mat-card>
