.example-card{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 15vw;
    margin: 0em;
    text-align: center;
    background-color: #424242;
    margin-top: 10vh;
    /* margin-bottom: 5vh; */
}

.header{
    font-family: 'Acme',sans-serif;
    margin: auto;
    color: #79e024;
}

.mat-card-subtitle{
    color:#79e024;
} 

.image{
    height: 160px;
    width: 156px;
    margin: auto;
}

/* .mat-icons{
    color: pink;
} */


.material-icons{
    color: #79e024;
    font-size: 3em;
    /* margin-left: 10px; */
}

.details {
    margin-left: 5px;
}

.addButton {
    margin-left: 10px;
}

.mat-icon-button {
    margin-right: 15px;
    margin-left: 10px;
}