<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="image-class" src="assets\images\logo.png">
    <button class="mat-button" mat-button [routerLink]="['/Search']">Search</button>
    <button class="mat-button" mat-button>Favourites</button>
    <button class="mat-button-wishlist" [routerLink]="['/WishList']" mat-button>Recommendations</button>
    <button class="mat-button-logout" mat-button (click)="logout()">Logout</button>

    <!-- <mat-form-field class="searchField" appearance="legacy">
        <input matInput placeholder="Search Player">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> -->

  </mat-toolbar-row>
</mat-toolbar>